:root{
    --principal: #1B2A34;
    --secundaria: #F8F0D2;
    --tre: #C3CCB9;
    --quat: #db9b24;
    --fundo: #366978;
}


header{
    /* background-color: #f8f0d2f0; */
    background-color: var(--secundaria);

    padding: 1%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;

    border-bottom: 4px solid var(--quat) ;
    box-shadow: 0px 10px 10px var(--fundo);
    
    position: sticky;
    top: 0;
    
    backdrop-filter: blur(3px);
}

@media (max-width: 800px){
    #opcoes{
        display: none;
    }
}

body{
    margin: 0%;
    background-color: var(--secundaria);
}

#logo{
    width: 110px;
    height: fit-content;
    /* box-shadow: #F8F0D2 0px 30px 10px 10px; */
}

#menu {
    font-size: 180%;
    padding: 5px 10px;
    border-bottom: 3px solid var(--quat);
}

#opcoes{
    display: flex;
    align-items: flex-end;
}

#modoCE{
    width: 60px;
    height: fit-content;
    padding-left: 20px;
    align-self: center;
}

#menu a{
    padding-right: 16px;
    color: var(--quat);
    text-decoration: none;
}

#menu a:link{
    transition: all 2s;
}

#menu a:hover {
    transition: all 2s;
    font-size: 120%;
}

h1{
    padding-left: 3%;
}

.tex{
    padding-left: 6%;
    width: 30%;
    color: var(--principal);
}

div{
    padding-top: 15px;
    padding-bottom: 10px;
}


#recepcao{
    padding-top: 0;
    text-align: center;
    background-color: #1B2A34;
    height: 85vh;
    background-image: url(./imgs/fundoGalatico.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

#fundo{
    position: relative;
}

#escrever{
    color: forestgreen;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#subtexto{
    color: var(--secundaria);
    font-size: 20px;
}

#imgPresenta{
    width: 300px;
}



#pessoal{
    background-color: var(--secundaria);
    height: 90vh;
}

#pessoal #conteudo{
    display: flex;
    justify-content: space-between;
}

#fotos{ /*div que contém as fotos*/
    display: grid;
    place-items: center;
    width: 40%;
    position: relative;
    right: 19vh;
}

.polaroid{ /*colocar imagem na dimensão correta */
    width: 230px;
    padding-left: 3px;
    padding-right: 3px;
    height: 300px;
    position: absolute;
    box-shadow: 10px 10px 15px;
}

.polaroid img{
    width: inherit;
    margin: auto;
}

.polaroid:nth-child(1){
    rotate: -20deg;
    right: 21vh;
    background-color: #f0f0f0;
}

.polaroid:nth-child(2){
    rotate: 10deg;
    right: 35px;
    background-color: #e6e6e6;
}

#habilidades{
    background-color: var(--tre);
    display: grid;
    height: 90vh;
}

#habilidades .tex, #habilidades h1{
    justify-self: end; /* simetria */
    text-align: justify;
    padding-right: 4%;
    padding-left: 0%;
}

#repert{
    background-color: var(--quat);
    height: 90vh;
}

#repert h1{
    text-align: center;
}

#carroceu{
    background-color: var(--principal);
    margin: auto;
    width: 80%;
    overflow-x: scroll;
}

#carro{
    background-color: var(--fundo);
    width: 400px;
    margin-right: 10px;
    margin-left: 10px;
    height: 500px;
}

#fotoCarro{
    width: 100%;
    max-height: 30%;
    border-bottom: #1B2A34 2px solid;

}

#textoCarro{
    background-color: var(--quat);

}

#extra{
    background-color: var(--tre);
    height: 90vh;

}

#contato{
    background-color: var(--secundaria);
    height: 90vh;

}

#contato h1{
    text-align: center;

}

footer{
    text-align: center;
    background-color: var(--fundo);
    border-top: var(--quat) 3px solid;
    display: grid;
}
